@page
@model PrivacyModel
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<style>
    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        text-align: center;
        padding: 20px;
        border-radius: 20px;
    }
</style>

<div class="home-container">
    <h1>🛡️ Política de Privacidade – Sistema de Vendas</h1>

    <section>
        <h2>Política</h2>
        <p>Este programa de estudos armazena seus dados localmente com segurança, como seu nome, progresso e anotações, apenas para uso pessoal no acompanhamento do aprendizado, sem compartilhamento com terceiros.</p>
    </section>

    <section>
        <h2>Contato</h2>
        <p>Se você tiver dúvidas sobre esta Política de Privacidade ou sobre o tratamento de seus dados, entre em contato:</p>
        <p><strong>Email:</strong> gustavo.dcbombassaro@gmail.com<br />
        <strong>Telefone:</strong> (54) 99662-7300</p>
    </section>

    <footer>
        <p><em>Data da última atualização: 22/05/2025</em></p>
    </footer>
</div>
